body {
  font-family: 'Open Sans', sans-serif;
}
.header {
  height: 250px;
  max-height: 500px;
  background-image: url(../images/upsBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
#pageTopic {
  text-align: center;
  font-size: 14px;
  font-weight: 900;
}
.colorContainer {
  display: inline-block;
  margin: 15px;
}
.swatch{
  height: 200px;
  width: 170px;
  border: 1px solid black;
}
.button{
  font-size: 14px;
}
.large{
  font-size: 66px;
  margin-bottom: 15px;
  margin-top: 0px;
}
.light{
  font-weight: 100;
}
.regular{
  font-weight: 500;
}
.bold{
  font-weight: 700;
}
h1{
.h1 element{
  font-size: 50px;
  font-weight: 900;
}
}
h2{
  .h2 element{
    font-size: 42px;
    font-weight: 700;
  }
}
h3{
  .h3 element{
    font-size: 34px;
    font-weight: 700;
  }
}
h4{
  .h4 element{
    font-size: 26px;
  }
}

.hexCode{
  padding: 15px;
  text-align: center;
  border: 1px solid black;
  border-top: none;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.type_container{
  display: inline-block;
  margin: 20px;
}
.button{
  display: inline-block;
  padding: 15px;
  margin: 15px;
  width: 150px;
  text-align: center;
  color: white;
  outline: 1px solid red;
}

.darkblue {
  background-color: #333366;
}
.darkGrey{
  background-color: #545454;
}
.lightGrey{
  background-color: #E3E3E3;
}
.white{
  background-color: #ffffff;
}
.lightBlue {
  background-color: #13A0F6;
}
.red {
  background-color: #F84848;
}
.orange {
  background-color: #FC7705;
}
.lightBlue{
  background-color: #13A0F6;
}
.lightGreen{
  background-color: #8ABE48;
}
.primary{
    background-color: #2b459a;
}
.success{
    background-color: #8ABE48;
}
.danger{
    background-color: #F84848;
}
.warning {
    background-color: #FC7705;
}
.info {
    background-color: #0099fa;
}
.primaryActive{
    background-color: #3a66b7;
}
.successActive{
    background-color: #ad4848;
}
.warningActive {
  background-color:   #ba7a43;
}
.infoActive {
  background-color: #4386ba;
}
.sectionHead{
  border-bottom: 8px solid #dddddd;
}
